@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Sansita Swashed', cursive ;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg,lightyellow 0%,lightblue 50%,lightyellow 50%, lightblue 100%);
    filter: hue-rotate(120deg);
    animation: animate 10s linear infinite;
}
@keyframes animate{
0%{
    filter: hue-rotate(0deg);

}
100%{
    filter: hue-rotate(160deg);
}
}
.box{
    position: relative;
    padding: 50px ;
    width: 360px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: centre;
    background:whitesmoke;
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(10, 10, 10, 0.2);

}
.box::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 6px;
    pointer-events: none;
    background: linear-gradient(to bottom,rbga(255,255,255,0.3) 0%,rbga(255,255,255,0.1) 15%,transparent 50%,transparent 85%,rbga(255,255,255,0.1) 100%);
}
.box .form{
    position: relative;
    width: 100%;
    color:  rgb(8, 8, 8);


}
.box .form h2{
    color:rgb(8, 8, 8);
    font-weight: 600;
    letter-spacing:2px;
    margin-bottom:30px ;

}
.box .form .input{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    color: rgb(8, 8, 8);
}
.box .form .input input[type="submit"]
{
    background: black;
    color: white;
    max-width:100px ;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: grab; 

}
.box .form .input  input::placeholder{
    color: black;
}
.box .form .input  input
{
    width: 89%;
    outline: none;
    border: 1px solid rgb(8, 8, 8);
    background: transparent;
    padding: 8px 10px;
    border-radius: 6px;
    color: rgb(8, 8, 8);
    font-size: 16px; 
    font-weight: 300;


} 
img{
  left: 55px ;
    height: 21px;
  right: 55px;
}
.remember{
    position: relative;
    display: inline-block;
    color: black;
    font-weight: 100;
    margin-bottom: 10px;
    cursor: pointer;
}
.box .form p{
    color: rgb(12, 12, 12);
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;

}